**/node_modules
node_modules

**/.next
**/out
**/dist
**/build
.next
out
dist
build

**/.turbo
**/.wrangler
.turbo

**/.git
**/.github
**/.vscode
**/.idea
.idea
.vscode

**/__tests__
**/*.test.*
**/*.spec.*

**/*.md
**/docs
**/LICENSE

.env*
!.env.example
!.env.template
**/.env*
**/.dev.vars

**/coverage
coverage
lcov.info
*.lcov

**/.DS_Store
.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*

*.tsbuildinfo

tmp/
temp/
