CLICKHOUSE_URL="http://default:@localhost:8123/databuddy_analytics"
DATABASE_URL="postgres://databuddy:databuddy_dev_password@localhost:5432/databuddy"
REDIS_URL="redis://localhost:6379"
BULLMQ_REDIS_URL="redis://localhost:6379"

AI_GATEWAY_API_KEY=""

BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="generate-a-random-32-byte-base64-secret"

# OpenPageRank key, not needed for most operations
OPR_API_KEY=""

# Not necessary, disabled if node env is development
AUTUMN_SECRET_KEY="autumn pls sponsor me ily"

# Important for local
NODE_ENV=development

# Not necessary, except for github oauth
GITHUB_CLIENT_ID="gitlabs was here"
GITHUB_CLIENT_SECRET="i guess"

# Not necessary, except for google oauth
GOOGLE_CLIENT_ID="just bing it"
GOOGLE_CLIENT_SECRET="alot"

# Not Necessary unless self-hosting
RESEND_API_KEY="bongo cat"

NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_STATUS_URL="http://localhost:3002"

# Not Necessary unless using blog
MARBLE_WORKSPACE_KEY=
MARBLE_API_URL=https://api.marblecms.com

# Not Necessary unless using changelog
NOTRA_API_KEY=
